<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<!--5.底部菜单栏-->
<div class="menu " id="head" >
    <div class="col-xs-4 menu-item menu-item-actived" onclick="toMyParge('/')">
        <span class="glyphicon glyphicon-home"></span>
        <p>首页</p>
    </div>
    <div class="col-xs-4 menu-item" onclick="toShopping('/cart/to_shopping')">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <p>选号</p>
    </div>
    <div class="col-xs-4 menu-item" onclick="toMyParge('/user/to_myParge')">
        <span class="glyphicon glyphicon-user"></span>
        <p>我</p>

    </div>



    <script>

        function toMyParge(path){

            location.href=path;
        }
        function toShopping(path){

            location.href=path;
        }

    </script>
</div>

</body>
</html>